<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

<section layout:fragment="content">
    <div class="container-lg mt-5">
        <h1 th:text="${url.getName()}"></h1>

        <table class="table table-bordered table-hover mt-3">
            <tbody>
            <tr>
                <td>ID</td>
                <td th:text="${url.getId()}"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td th:text="${url.getName()}"></td>
            </tr>
            <tr>
                <td>Created at</td>
                <td th:text="${#temporals.format(url.getCreatedAt(), 'dd/MM/yyyy HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="container-lg mt-5">
        <h1>Checks</h1>

        <form action="#" th:action="@{/urls/{id}/checks(id=${url.getId()})}" method="post" class="form">
            <button type="submit" class="btn btn-primary">Check</button>
        </form>

        <table class="table table-bordered table-hover mt-3">
            <thead>
            <tr>
                <th class="col-1">ID</th>
                <th class="col-1">Answer code</th>
                <th>Title</th>
                <th>h1</th>
                <th>description</th>
                <th class="col-1">Checked at</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="check : ${url.getUrlChecks()}" th:object="${check}">
                <td th:text="*{getId()}"></td>
                <td th:text="*{getStatusCode()}"></td>
                <td th:text="*{getTitle()}"></td>
                <td th:text="*{getH1()}"></td>
                <td th:text="*{getDescription()}"></td>
                <td th:text="${#temporals.format(check.getCreatedAt(), 'dd/MM/yyyy HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

</html>